@model ContentPageViewModel
@{
    ViewData["Title"] = "OrderSummery";
}


    <!-- End Header -->

    <!-- Start Login 
    ============================================= -->
    <div class="login-area ">
        <div class="container">
            <div class="row default-padding">
					<div class="col-lg-8">
						<div class="fcrse_1 col-lg-12">
							<a href="course_detail_view.html" class="hf_img">
								<img class="cart_img" src="images/courses/img-2.jpg" alt="">
							</a>
							<div class="hs_content">
								<div class="eps_dots eps_dots10 more_dropdown">
									<a href="#"><i style="font-size:24px" class="fa">&#xf00d;</i></a>																										
								</div>
								<a href="course_detail_view.html" class="crse14s title900 pt-2">@Model.StaticPage.Contents[0].LocalizedName</a>
								<a href="#" class="crse-cate">
 
									@Html.Raw(Model.StaticPage.Contents[0].LocalizedDescription)
                                </a>
								<div class="auth1lnkprce">
									<p class="cr1fot"><strong>@Model.StaticPage.Contents[0].ExtraInfo</strong></p>
									<div class="prce142">$10</div>
								</div>
							</div>
						</div>								
					
				</div>
					<div class="col-lg-4">
						<div class="membership_chk_bg rght1528">
								<div class="checkout_title">
									<h4>@Model.StaticPage.Contents[1].LocalizedName</h4>
									<img src="images/line.svg" alt="">
								</div>
								<div class="order_dt_section">
									<div class="order_title">
										<h4> @Model.StaticPage.Contents[1].Short</h4>
										<div class="order_price">JOD 15</div>
									</div>
									<div class="order_title">
										<h6>@Html.Raw(Model.StaticPage.Contents[1].LocalizedDescription)</h6>
										<div class="order_price">JOD 5</div>
									</div>
									<div class="order_title">
										<h2>@Model.StaticPage.Contents[1].ExtraInfo</h2>
										<div class="order_price5">JOD 20</div>
									</div>
									
									<a href="#" class="chck-btn22">Checkout Now</a>
								</div>
						</div>
					</div>								
				</div>
        </div>
    </div>
    <!-- End Login Area -->

    